.chartsWrapper {
  flex: 4;
  box-shadow: var(--box-shadow-one);
  padding: calc(var(--space-min) * 2.5);
  color: var(--color-text);
  opacity: 0.95;

  .title {
    text-transform: capitalize;
    margin-bottom: calc(var(--space) * 2.5);
  }

  .chartGrids {
    stroke: rgb(228, 225, 225);
  }
}
