.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: calc(var(--space) * 2.5);
      gap: calc(var(--space) * 2.5);
    }

    .charts {
      padding: var(--space-min) calc(var(--space) * 2.5);
    }
  }
}
