.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      box-shadow: var(--box-shadow-one);
      padding: calc(var(--space-min) * 2.5);
      margin: calc(var(--space) * 2.5);

      display: flex;

      .title {
        color: lightgray;
        font-size: calc(var(--space) * 2.5);
      }
    }

    .bottom {
      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: calc(var(--space) * 3.75);
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: calc(var(--space-min) * 2.5);

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: calc(var(--space-min) * 1.25);
              border: none;
              outline: none;

              border-bottom: 1px solid var(--color-text);

              &:focus {
                outline: none;
                border-bottom-color: teal;
              }
            }
          }

          button {
            width: calc(var(--space-max) * 11.5);
            padding: calc(var(--space-min) * 2.5);
            border: none;
            background-color: var(--color-button);
            color: var(--color-light);
            font-weight: bold;
            cursor: pointer;
            margin-bottom: calc(var(--space-min) * 5);
            margin-top: calc(var(--space-min) * 2.5);

            &:disabled {
              background-color: rgba(3, 92, 92, 0.322);
              cursor: not-allowed;
            }

            &:active {
              outline: 1px solid var(--color-button, rgb(15, 202, 140));
              box-shadow: var(--box-shadow-one);
            }

            &:focus {
              outline: 1px solid var(--color-button, rgb(29, 202, 38));
              box-shadow: var(--box-shadow-one);
            }
          }
        }
      }
    }
  }
}
