:root {
  --space-min: 0.25rem;
  --space: 0.5rem;
  --space-max: 1rem;
  --border-color: rgba(214, 200, 200, 0.692);
  --sub-heading-color: #999;
  --color-primary: #6439ff;
  --color-text: #555;
  --color-text-dark: rgb(156, 156, 156);
  --color-notification: red;
  --color-light: white;
  --color-positive: green;
  --color-negative: red;
  --color-pending: goldenrod;
  --color-bgicon: rgba(128, 0, 128, 0.541);
  --color-view: darkblue;
  --color-button: teal;
  --color-dark: #222;

  --box-shadow-one: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  // $margin: 1rem;
}
.links {
  text-decoration: none;
}
