:root {
  --space-min: 0.25rem;
  --space: 0.5rem;
  --space-max: 1rem;
  --border-color: rgba(214, 200, 200, 0.692);
  --sub-heading-color: #999;
  --color-primary: #6439ff;
  --color-text: #555;
  --color-notification: red;
  --color-light: white;
  // $margin: 1rem;
}
